<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCciAIUPC1EOSTpBcFhtqeGoT4OoBDcKrU</string>
	<key>GCM_SENDER_ID</key>
	<string>684648449179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusSync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>campus-sync-35972</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-sync-35972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684648449179:ios:b814d1b6d436656d3db23e</string>
</dict>
</plist>